.board-square {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  &--even {
    z-index: 0;
    background-color: var(--chessEvenTilesColor);
  }

  &--odd {
    z-index: 0;
    background-color: var(--chessOddTilesColor);
  }

  &__clicked {
    z-index: -1;
    position: absolute;
    border-radius: 6px;
    width: 90%;
    height: 90%;
    background-color: var(--navigationPieceColor);
  }

  &__possible {
    position: absolute;
    border-radius: 50%;
    width: 30%;
    height: 30%;
    background-color: var(--navigationPieceColor);
  }


  //redundant code - for col row inside the square
  &__row-col {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
}
