.board-with-position{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    &__rows-container{
        display: flex;
        height: 100%;
        width: 100%;
    }

    &__columns {
        display: flex;
        justify-content: end;
        padding-top: 5px;
        padding-left: 15px;
        width: 100%;
    }

    &__rows {
        display: flex;
        flex-direction: column;
        width: 15px;
        padding-right: 5px;
    }

    &__row {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--textColor);
        height: 12.5%;
    }

    &__column {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--textColor);
        width: 12.5%;
    }
}